{% extends "base.html" %} {% block title %}About{% endblock %} {% block
content%}
<h1 align="center">About page</h1>
<div class="container" align="center">
  <div class="wrapper" align="center">
    <div class="content-main" align="center">
      <h2 align="center">Welcome to the Notepad.<br /></h2>

      <h4 align="center">
        <small class="text-muted"
          >One of my first projects on back-end development, and I can see that
          you have signed in.</small
        >
      </h4>
    </div>
    <br />
    <div class="content-secondary">
      <h2 align="center">I hope you enjoy your time here!<br /></h2>
      <h4 align="center">
        <small class="text-muted"
          >This website will bring a lot more in the future...</small
        >
      </h4>
    </div>
  </div>
</div>
{% endblock %}
